
@font-face {
    font-family: 'Arial';
    src: url(../../assets/fonts/arial/ArialMT.woff2) format('woff2'),
        url(../../assets/fonts/arial/ArialMT.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Georgia';
    src: url(../../assets/fonts/georgia/Georgia.woff2) format('woff2'),
        url(../../assets/fonts/georgia/Georgia.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --white-color: #FFFFFF;
    --color-primary: #F1CDB3;
    --color-primary-light: #FDDCC4;
    --color-light-s: #FAFAFA; 
    --color-light-l:#F6F6F6;
    --color-dark-s: #CDCDCD;
    --color-dark-3xl: #292929;
    --color-dark-l: #545454; 
    --color-dark-xl: #4C4C4C; 
    --color-dark-m: #B2B2B2;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    padding: 0;
    scroll-behavior: smooth;
    transition: all .3s;
}
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

h1, h3,h4, h5, p {
    margin: 0;
 }
a {
    text-decoration: none;
}

.open {
    display: flex !important;

}

/***header***/

.header {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    width: 100%;

}
.header_conteiner {
    min-height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 90px;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: var(--color-primary);
}

.subtitle {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: var(--white-color);
}

.navigation {
    min-width: 440px;
}

.navigation-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    gap:35px;
}

    
.nav_link {
    text-decoration: none;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: var(--color-dark-s);
    cursor: pointer;
    transition: .3s;
}
.line {
    border-bottom: 3px solid var(--color-primary);
    cursor: default;
}
.active:hover {
    color: var(--white-color);
 }

.burger_menu {
    display: none;
    position: relative;
    z-index: 11;
    justify-content: flex-end;
    align-items: center;
    width: 30px;
    height: 22px;
    background-color: transparent;

}

.burger_menu span {
    width: 100%;
    height: 2px;
    background-color: var(--color-primary);
    transform: scale(1);
}

.burger_menu::before,
.burger_menu::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: var(--color-primary);
}

.burger_menu::before {
    top: 0;
}
.burger_menu::after {
    bottom: 0;
}

.burger_menu.active_menu span {
    transform: rotate(90deg);
}

.burger_menu.active_menu::before {
    transform: rotate(90deg);
    left: 10px;
    top: 10px;
}
.burger_menu.active_menu::after {
    transform: rotate(90deg);
    right: 10px;
    top: 10px;
}



/***section not only***/

.not_only {
    padding-top: 180px;
    /* background-image: url(../../assets/images/start-screen-background.png), 
    radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%); */
    background-image: url(../../assets/images/noise_transparent@2x.png), 
    radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
    /* background-size: 100%; */
    /* max-height: 908px;  пока что убираю,
    надо проверить */
}

.not_only_conteiner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 728px;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 163px 40px 243px 0px;
    gap:40px;
    max-width: 502px;
}
.content > h1 {
    max-width: 100%;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 57px;
    color: var(--white-color);
}

.content > p {
    max-width: 100%;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: var(--color-dark-s);
}

.not_only_button {
    width: 207px;
    height: 52px;
    background-color: var(--color-primary);
    border-radius: 100px;
    border-style: none;
    cursor: pointer;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.06em;
    transition: 1s; 
}

.not_only_button:hover {
    transition: 1s;
    transform: scale(1.1);
    background-color: var(--color-primary-light);
}

.not_only_button:active {
    background-color: var(--color-primary-light);
    border: var(--color-primary);
}

.start_images {
    max-width: 698px;
    max-height: 728px;
}

.start_images {
    position: relative;
    width: 698px;
    height: 728px;
}
.start_screen_puppy {
    position: absolute;
    max-width: 100%;
    bottom: 0px;
}


/***about section***/

.about {
    background-color: var(--white-color);
}

.about_conteiner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:120px;
    padding: 80px 175px 100px 175px;
}

.about_pets_images {
    max-width:300px;
    max-height:408px;

}

.about_content {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-top: 15px;

}

.about_content > h3 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.05em;
    color: var(--color-dark-l);
}
.about_content p {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: var(--color-dark-xl);
}

/*** our friends section***/

.our_friends {
    background: var(--color-light-l);
}

.our_friends_conteiner {
    padding-top: 76px;
    padding-bottom: 104px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: space-between;
    position: relative;
}

.our_friends_slider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 53px;
    align-items: center;
    width: 100%;
}

.our_friends_pets {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 90px;
    overflow-y: hidden;

}

.our_friends_card {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    background-color: var(--color-light-s);
    transition: 0.3s;
    border-radius: 9px;
}
.our_friends_card:hover {
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    transition: 1s;
    background-color: var(--white-color);
}

.our_friends_card:active {
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    transition: 1s;
    background-color: var(--white-color);
}

.our_friends_card:hover .card_button {
    background-color: var(--color-primary-light);
    border: 2px solid var(--color-primary-light);
  }
  

.our_friends_heading > h3 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
    text-align: center; 
}

.button_arrow {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 2px solid var(--color-primary);
    background: transparent;
    cursor: pointer;
    transition: 0.3s;
}

.button_arrow:hover {
    border: 2px solid var(--color-primary-light);
    background-color: var(--color-primary-light);
    transition: 0.3s; 
    transform: scale(1.1);
}
.button_arrow:active {
    border: 2px solid var(--color-primary-light);
    background-color: var(--color-primary-light);
}


.button_arrow > img {
    width: 14px;
    align-items: center;
}

.our_friends_card p {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
}

.card_button {
    width: 185px;
    height: 50px;
    border: 2px solid var(--color-primary);
    border-radius: 100px;
    background-color: var(--color-light-s);
    cursor: pointer;
    margin-bottom: 30px;

    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.06em;
    color: var(--color-dark-3xl);
    transition: 1s; 
}

.card_button:hover {
    background-color: var(--color-primary-light);
    border: 2px solid var(--color-primary-light);
    transition: 1s;
    transform: scale(1.1);
}

.card_button:active {
    background-color: var(--color-primary-light);
    border: 2px solid var(--color-primary);
    transition: 1s;
}

.our_friends_button {
    width: 260px;
    height: 50px;
    background-color: var(--color-primary);
    border-radius: 100px;
    border-style: none;
    cursor: pointer;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.06em;
    color: var(--color-dark-3xl);
    transition: 1s; 
}

.our_friends_button:hover {
    transition: 1s; 
    transform: scale(1.1);
    background-color: var(--color-primary-light);
    border: none;
}
.our_friends_button:active {
    background-color: var(--color-primary-light);
    border: 2px solid var(--color-primary-light);
    transition: 1s; 
}

.our_friends_conteiner form {
    margin: auto;
}

/*** help section***/

.help {
    background-color: var(--white-color);
}

.help_conteiner {
    padding-top: 80px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: space-between;
}

.help_heading > h3 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.06em;
    color: var (--color-dark-l);
    text-align: center; 
}

.help_list {
    display: flex;
    flex-wrap: wrap;
    gap: 55px 120px;
    justify-content: center;

}
.help_item {
    display: flex;
    gap:30px;
    flex-direction: column;
    transition: 0.3s; 
    cursor: pointer;
}

.help_item:hover {
    transition: 0.3s; 
    transform: scale(1.2);
}

.help_item p {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
    text-align: center;

}
.help_icon {
    height: 60px;
}

/*** in_addition section ***/

.in_addition {
    background-color: var(--color-light-l);
}

.in_addition_conteiner {
    padding: 80px 142px 100px 142px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    overflow-y: hidden;
}

.in_addition_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    align-items: flex-start;
    max-width: 380px;
}
.in_addition_content > h3 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
    
}
.in_addition_content > h5 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
    
}
.credit_card {
    display: flex;
    flex-direction: row;
    gap: 15px;
    background-color: var(--color-primary);
    border-radius: 9px;
    width: 350px;
    height: 43px;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    cursor: pointer;
}

.credit_card:hover {
    box-shadow: 0 0 10px 0.5px var(--color-dark-m);
    transition: 0.3s;
}

.credit_card img {
    width: 30px;
    height: 23px;
    color: var(--color-dark-3xl);
}
.credit_card h4 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
} 

.in_addition_content p {
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: var(--color-dark-m);
}
.in_addition_pets {
    max-width: 505px;
    max-height: 261px;
}
.in_addition_images{
    width: 100%;
}

/*** footer ***/

.footer {
    background-image: url(../../assets/images/noise_transparent@2x.png), 
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%);
    /* max-height: 350px; */
}

.footer_conteiner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 158px;
    justify-content: space-between;
    padding-top: 40px;
}

.footer_contacts {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 15px;
    max-width: 280px;
}
.footer_location {
    display: flex;
    flex-direction: column;
    gap: 33px;
    padding-top: 15px;
    max-width: 302px;
}

.footer_contacts h3, 
.footer_location h3 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.06em;
    color: var(--white-color);
    width: 280px;
}

.footer_contacts_link {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    cursor: pointer;
    transition: 0.5s; 
}

.footer_contacts_link:hover {
    transition: 0.3s; 
    transform: scale(1.2);
}


.footer_contacts_link > h4 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: var(--color-primary);
}

.footer_images img {
    width: 300px;
    height: 310px;
}

/*.header, */
/*.not_only,*/
/* .about, */
/* .our_friends, */
/* .help, */
/* .in_addition, */
/* .footer {
    display: none !important;
} */


@media all and (max-width: 1279px) {

 .header {
        padding-left: 30px;
        padding-right: 30px;
    }
.not_only {
    padding-left: 30px;
    padding-right: 30px;
}

/*section our_friends */

.our_friends_card {
    margin-top: 10px;
}
.our_friends_slider {
    gap: 14px;
}

/*** footer ***/
.footer_conteiner {
    padding-left: 64px;
    padding-right: 64px;
}
}


@media all and (max-width: 1175px) {
/*section our_friends */

.card_three {
    display: none;
}
.our_friends {
    padding-left: 30px;
    padding-right: 30px;
}
.our_friends_card {
    margin-top: 0px;
}
.our_friends_conteiner {
    gap: 62;
}
.our_friends_pets {
    gap: 35px;
}
/*section about */
.about_conteiner {
    flex-direction: column-reverse;
    justify-content: space-between;
    gap: 80px;
    padding: 68px 169px 100px 169px;
}


    /*** in_addition section ***/
    .in_addition_conteiner {
        flex-direction: column-reverse;
        gap: 60px;
        padding: 80px 131px 92px 131px;
    }
    .in_addition_content {
        padding-left: 60px;
        padding-right: 60px;
    }


}

@media all and (max-width: 875px) {
    /*** footer ***/
    .footer_conteiner {
        column-gap: 58px;
        row-gap: 65px;
        justify-content: space-evenly;
        padding-top: 15px;
    }
}

@media all and (max-width: 768px) {

    .header {
        padding-left: 30px;
        padding-right: 30px;
    }
    /*section not_only */
    .not_only {
        padding-top: 150px; 
        padding-left: 30px;
        padding-right: 30px;
    }
    .not_only_conteiner {
        max-height: none;
        flex-direction: column;
        gap: 100px; 
        align-items: center;

    }
    .content {
        padding: 0px;
        gap:42px;
        max-width: 460px;
        
    }
    .not_only_button {
        display: block;
        margin: 0 auto;

    }
    .start_images {
        margin-left: 137px ;
        width: 569px;
        height: 592px;
    }

    /*section about */

    .about_pets_images {
        margin: 0 auto;
        display: block; 
    }

/*section help */
    .help_list { 
        column-gap: 60px;
    }

    .help_item {
        width: 170px;
    }

}

@media all and (max-width: 767px) {
 /***header***/ 
 .header {
    padding-left: 20px;
    padding-right: 20px;
}
.burger_menu {
    display: flex;
}
.navigation {
    display: none;
    flex-direction: row;
    position: fixed;
    height: 100%;
    width: 320px;
    top: 0; 
    left: 0;
    z-index: 10;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: var(--color-dark-3xl);
    transform: translateX(calc(100vw - 320px));
    transition: all 0.5s;
}

.navigation-list {
    display: flex;
    flex-direction: column;
    padding-top: 248px;
    justify-content: flex-start;
    align-items: center;
    gap: 36px;
}

.nav_link {
    font-size: 32px;
    line-height: 51px;
    color: var(--color-dark-s);
}
.nav_link:hover {
    border-bottom: 3px solid var(--color-primary);
    cursor: pointer;
    color: var(--color-light-s);
}


/* .blackout.active_menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    opacity: 0.4;
    background: rgba(41, 41, 41, 0.6);
    transition: all 0.5s;
} */



/*section our_friends */
    .our_friends_conteiner {
        gap: 55px;
    }
    .our_friends_pets {
        gap: 20px;
    }
}


@media all and (max-width: 755px) {

    /*.header, */
/* .not_only, */
/* .about, */
/* .our_friends, */
/* .help, */
/* .in_addition, */
/* .footer {
    display: none !important;
} */

 /*section not_only */

.not_only {
        padding-left: 10px;
        padding-right: 10px;
    }
    .start_images {
        margin-left: 50px ;
        width: 260px;
        height: 272px;
    }
    .content {
        text-align: center;
    }
    .content > h1 {
        font-size: 25px;
        line-height: 32px;
        letter-spacing: 0.06em;
    }
    .content > p {
        margin: 0 auto;
    }
    
    /*section about */
    .about_conteiner {
        gap: 42px;
        padding: 42px 10px;
    }
    .about_content > h3 { 
        font-size: 25px;
        line-height: 32px;
        text-align: center;
    }
    .about_content p {
        text-align: justify;
    }


    /*section our_friends */
    .card_two {
        display: none;
    }
    .our_friends {
        padding-left: 25px;
        padding-right: 25px; 
    }

    .our_friends_pets {
        order: -1;
    }
    .button_arrow {
        order: 0;
    }
  .our_friends_slider {
    flex-wrap: wrap;
    gap:20px
  }

  .our_friends_conteiner {
    gap: 42px; }


  .our_friends_heading > h3 {
    font-size: 25px;
    line-height: 32px;
}

.button_arrow_one {
margin-left: 42px;
}
.button_arrow_two {
margin-right: 42px;
}
.help_heading > h3 {
font-size: 25px;
line-height: 32px;

 }
 .help_conteiner {
    padding-top: 42px;
    padding-bottom: 42px;
    gap: 42px;
}
.help {
    padding-left: 15px;
    padding-right: 15px;
}
.help_list {
    column-gap: 30px;
} 
.help_item {
    width: 130px; 
}

.help_item p {
    font-size: 15px;
    line-height: 17px;
}
.in_addition_conteiner { 
    padding: 42px 10px; 
    gap: 42px;
}

.in_addition_content > h3 { 
    font-size: 25px;
    line-height: 32px;
    text-align: center;
}
.in_addition_content {
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
}

.in_addition_pets {
    width: 260px;
    height: 135px;
}
.credit_card {
    width: 281px;
    height: 43px;
}

.credit_card h4 {
    font-size: 15px;
    line-height: 17px;
}
.in_addition_content > h5 {
    letter-spacing: normal;
}

.in_addition_content p {
    text-align: justify;
}

.footer_contacts h3, 
.footer_location h3 {
    font-size: 25px;
    line-height: 32px;
    text-align: center;
}
}



 


