
@font-face {
    font-family: 'Arial';
    src: url(../../assets/fonts/arial/ArialMT.woff2) format('woff2'),
        url(../../assets/fonts/arial/ArialMT.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Georgia';
    src: url(../../assets/fonts/georgia/Georgia.woff2) format('woff2'),
        url(../../assets/fonts/georgia/Georgia.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --white-color: #FFFFFF;
    --color-primary: #F1CDB3;
    --color-light-s: #FAFAFA; 
    --color-dark-s: #CDCDCD;
    --color-dark-3xl: #292929;

}

*, *::before, *::after {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
}
.conteiner {
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
}
.background {
background: url(../../assets/images/start-screen-gradient-background.png);
background-repeat: no-repeat;
}



/***header***/

.header {
    min-height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 90px;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: var(--color-primary);
}

.subtitle {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: var(--white-color);
}

.navigation {
    min-width: 440px
}
.navigation-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;

}
.nav-link {
    text-decoration: none;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: var(--color-dark-s);
    cursor: pointer;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--color-light-s);
    border-bottom: 3px solid var(--color-primary);
    
}
